h1{
    font-family: 'Oswald', sans-serif;
    font-size: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0; 
}

h2{
    font-family: 'Oswald', sans-serif;
    font-size: 43px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: 100px;
}

#button-heading{
    padding-top:30px;
}

.page {
    width: auto;
    background-color: white;
    margin: auto;
    padding:100px;
    padding-top: 25px;
    padding-bottom: 25px;

}

#choropleth_map {
    top:10px;
    bottom: 100px;
    left: 10px;
    right: 100px;
}

#bump_chart{
    top:10px;
    bottom: 100px;
    left: 10px;
    right: 100px;
}

#stacked_bar_chart{
    top:45px;
    bottom: 100px;
    left: 10px;
    right: 100px;
    padding-right: 10px;
}

#aus_radarChart, #china_radarChart, #france_radarChart, #japan_radarChart, #us_radarChart{
    top:-40px;
    bottom: 30px;
    left: 50px;
    right: 100px;
    padding-right: 70px;
    padding-left: 50px;
    display: none;
}

.pure-g
{
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0; 
    padding-top: 10px;
}

.graph-container 
{
    display: flex;

}

.graph-container .pure-g 
{
    flex: 1;
}

.img-container {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center; 
}

.img-container img {
    max-width: 125px;
    margin-right: 15px;
    margin-left: 15px; 
}

#aus_description, #china_description, #france_description, #japan_description, #us_description{
    display: none;
    background-color:#E5E5E5;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
  
.button {
    background-color: bisque;
    color: black;
    border: 3px solid #FFB114;
    font-family: 'Oswald', sans-serif;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 15px;
}

.button:hover{
    background-color:  #FFB114;
    color:black;
}

#button-pic{
    align-items: center;
    padding-right: 70px;
    width:175px;
    height:100px;
}

#button-text{
    text-align: justify;
    align-items: center;
    margin-top: -20px;
    padding-right: 70px;
}


#reference{
    margin-top: 0cm;
    font-size: 10px;
}
